<nav>
    <div class="site-title">
        
        <a href="/"><h1>Paul's NodeBlog</h1></a>
        <p>A Node Practice Blogsite</p>
    </div>
    <u1>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </u1>
</nav>