<html lang="en">
<%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %>
    <div class="about content">
        <h2>About Us</h2>
        <p>Asdofijs sodifj oisdjfosijdfosajdf osijdfosijf oasjdif oasijfosaijf sodfjaso dfjasoifj sofdijs foijasfdoij </p>
        <p>Asdofijs sodifj oisdjfosijdfosajdf osijdfosijf oasjdif oasijfosaijf sodfjaso dfjasoifj sofdijs foijasfdoij </p>
        <p>Asdofijs sodifj oisdjfosijdfosajdf osijdfosijf oasjdif oasijfosaijf sodfjaso dfjasoifj sofdijs foijasfdoij </p>
    </div>
<%- include('./partials/footer.ejs') %>
</body>
</html>